<ng-container *ngIf="model$ | async as model">
  <div class="header">
    <h2>{{model.name}}</h2>
  </div>
  <div class="body">
    <table>
      <thead>
      <tr>
        <th>E-mail</th>
        <th>Статус</th>
        <th>Имя</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let user of model.users">
        <td>{{user.email}}</td>
        <td>{{user.status | userGroupStatus}}</td>
        <td>{{user.name}}</td>
      </tr>
      </tbody>
    </table>

  </div>
  <div class="footer">
    <ad-invite-to-group #adInviteToGroup (updateGroup)="updateGroup($event)"></ad-invite-to-group>
  </div>
  <ui-preloader *ngIf="model.isLoading()"></ui-preloader>
</ng-container>
