@import "./projects/ad-kit/src/lib/assets/vars";

:host {
  flex: 0 0 $base-gutter * 35;
  border-right: 1px solid #ccc;
  padding: $base-gutter * 2;
  display: flex;
  flex-direction: column;
}

.footer {
  margin-top: auto;
}

.nav {
  a {
    display: block;
    width: 100%;
    padding: $base-gutter $base-gutter * 2;
    text-decoration: none;

    &:hover {
      background-color: #c2c2c2;
    }
  }
}
