:host {
  display: flex;
  height: 100%;
}

aside {
  flex: 0 0 300px;
  border-right: 1px solid #ccc;
  padding: 20px;
}

main {
  padding: 20px;
  & > * {
    &:not(:last-child) {
      margin-bottom: 40px;
    }
  }
}
