@import "./projects/ad-kit/src/lib/assets/vars";

:host {
  display: inline-flex;
  flex-direction: column;
  padding: $base-gutter * 2;
  text-align: center;
  justify-content: center;
  border: 1px solid #ccc;
  margin: $base-gutter * 2;
}

.title {
  font-weight: 600;
  margin-bottom: $base-gutter * 2;
}

.author {
  margin-bottom: $base-gutter ;
}
