@import "./projects/ad-kit/src/lib/assets/vars";

:host {
  align-items: center;
  display: flex;
  &:not(:last-child) {
    margin-bottom: $base-gutter * 2;
  }
}

.actions {
  display: flex;
  margin-left: $base-gutter;
  & > * {
    &:not(:last-child) {
      margin-right: $base-gutter;
    }
  }
}
