<ng-container *ngIf="myGroups$ | async as model">
  <ng-container *ngIf="model.state === 'READY'">

    <ad-create-group [model]="model.data" (createGroupEmit)="createGroup($event)"></ad-create-group>

    <ng-container *ngIf="model.data.myInvitations?.length">
      <ad-my-invitation (invitationResultEmit)="invitationResultEmit($event, model.data)"
                        *ngFor="let invitation of model.data.myInvitations" [data]="invitation">
      </ad-my-invitation>
    </ng-container>

    <ad-my-groups
      *ngIf="hasGroups(model.data)"
      (inviteUser)="inviteUser($event)"
      (actionWithGroupUser)="actionWithGroupUser($event)"
      (deleteGroup)="deleteGroup($event)"
      [groups]="model.data.myGroups"
      [groupsWhereIMember]="model.data.groupsWhereIMember"
    ></ad-my-groups>

  </ng-container>
  <ui-preloader *ngIf="model.state === 'LOADING'"></ui-preloader>
  <ui-preloader *ngIf="loader$ | async"></ui-preloader>

</ng-container>
