<ng-container *ngIf="myGroups$ | async as model; else preloader">
  <ng-container *ngIf="model.isReady(); else preloader">
    <ad-create-group [model]="model" (createGroupEmit)="createGroup($event, model)"></ad-create-group>
    <ng-container *ngIf="model.myInvitations?.length">
      <ad-my-invitation (declineInvitationEmit)="declineInvitationEmit($event, model)"
                        *ngFor="let invitation of model.myInvitations" [data]="invitation">
      </ad-my-invitation>
    </ng-container>
    <div class="groups" *ngIf="model.myGroups?.length">
      <ad-group *ngFor="let group of model.myGroups" [model]="group"></ad-group>
    </div>
  </ng-container>
</ng-container>

<ng-template #preloader>
  <ui-preloader></ui-preloader>
</ng-template>
